.App {
  text-align: center;
}


.nav-div {
  width: 100%;
  background-color: #000;
}

.nav-div img {
  height: 100px;
}

.search {
  margin-top: 20px;
}

.primary-button {
  margin-top: 10px !important;
  font-size: 8px;
  width: 55px;
  text-align: center;
  border: 1px solid;
  padding: 2px 0;
  letter-spacing: 2px;
  border-radius: 2px;
  background: transparent;
  color: $fff;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position:relative;
  overflow:hidden;
  display:block;
  margin:auto;
  line-height: 18px;
  text-decoration: none;
}

.more-info-button {
  margin-top: 10px !important;
  font-size: 8px;
  text-align: center;
  border: 1px solid #000;
  padding: 2px 0;
  letter-spacing: 2px;
  border-radius: 2px;
  background: transparent;
  color: $fff;
  overflow: hidden;
  color: #000;
  /* position:relative; */
  overflow:hidden;
  display:block;
  margin:auto;
  line-height: 18px;
  text-decoration: none;
  width: 70px;
  margin-right: 430px;
}

.no-result {
  padding-top: 20px;
  font-size: 10px;
  letter-spacing: 2px;
}

.container {
  width: 100%;
  text-align: center;
}

.book-item {
  margin-top: 50px;
  text-align: center;
}

.book-image {
  display: inline-block;
  width: 48%;
  text-align: right;
  padding-right: 15px;
}

.book-info {
  display: inline-block;
  width: 48%;
  text-align: left;
}

.book-title{
  letter-spacing: 2px;
  font-size: 16px;
  max-width: 275px;
}

.book-author {
  letter-spacing: 1px;
  font-size: 12px;
  text-transform: uppercase;
  max-width: 275px;
}

.book-publisher {
  font-size: 8px;
  max-width: 275px;
}
